{% extends "base.html" %}
{% load static %}

{% block extra-css %}
    <link rel="stylesheet" type="text/css" href="{% static "css/cms/nosotros/styles.css" %}" media="screen">
{% endblock extra-css %}

{% block content %}
    <div class="header-divider"></div>

    <div id="page-title">
        <h1 class="title">
            NOSOTROS
        </h1>
    </div>
    
    <section class="container">
        <div class="nosotros-img">
            <img src="{% static 'img/src/nosotros/nosotros.png' %}" class="mx-auto d-block">
        </div>
        
        <div class="row nosotros-texto mt-3 mb-5">
            <div class="col-6 left">
                <p>
                    {{ nosotros.columna_uno|safe }}
                </p>
            </div>
            <div class="col-6 right">
                <p>
                    {{ nosotros.columna_dos|safe }}
                </p>
            </div>

            <div class="col-6 mt-4 mb-5 left">
                <div class="valores row">
                    <div class="valor col-6">
                        ÉTICA
                    </div>
                    <div class="valor col-6">
                        PASIÓN
                    </div>
                    <div class="valor col-6">
                        RESPETO HUMANO
                    </div>
                    <div class="valor col-6">
                        PROSPERIDAD
                    </div>
                    <div class="valor col-6">
                        <p style="line-height: 1.5em">
                            SATISFACCIÓN <br> EN EL TRABAJO
                        </p>
                    </div>
                    <div class="valor col-6">
                        CREATIVIDAD
                    </div>
                </div>
            </div>
            <div class="col-6 mt-4 mb-5 right">
                <img src="{% static 'img/src/nosotros/nosotros_right.png' %}">
            </div>
        </div>
    </section>
{% endblock content %}
