{% load static %}

{% if receta_detail %}
<div class="descripcion-receta">
    {% with receta_detail as receta %}        
        <h3 class="naranja">{{ receta.titulo|upper }}</h3>
        {% if receta.imagen %}
            <img class="img-fluid imagen-receta" src="{{ receta.imagen.url }}" alt=""/>
        {% endif %}

        {% autoescape off %}
        <pre class="wrapp-text">{{ receta.descripcion|default_if_none:"" }}</pre>
        {% endautoescape %}
        
        <h4 class="naranja">INFORMACIÓN TÉCNICA</h4>
        {% autoescape off %}
        <pre class="wrapp-text">{{ receta.informacion_tecnica }}</pre>
        {% endautoescape %}

        <h4 class="naranja">INGREDIENTES</h4>
        {% autoescape off %}
        <pre class="wrapp-text">{{ receta.ingredientes }}</pre>
        {% endautoescape %}
        
        <h4 class="naranja">PREPARACIÓN</h4>
        {% autoescape off %}
        <pre class="wrapp-text">{{ receta.preparacion }}</pre>
        {% endautoescape %}
        <br>
    {% endwith %}
</div>
{% else %}
    <ul id="rslides">
        {% for slider in recetas_sliders %}
            <li><img class="img-fluid receta-slider-img" src='{{ slider.imagen.url }}'></li>
        {% endfor %}
    </ul>
{% endif %}