.nosotros-texto{
    color: #51565C;
    line-height: 2.5em;
    text-align: justify;
    font-size: 14px;
}

.nosotros-texto .descripcion{
    padding: 0 6em 0 6em;
}
.nosotros-texto .left{
    padding: 0 40px 0 95px;
}

.nosotros-texto .right{
    padding: 0 95px 0 40px;
}

.nosotros-texto .valores .valor{
    margin: 10px 0;
    padding: 0 0 0 20px;
    text-align: left;
    height: 3em;
    line-height: 3em;
}

.nosotros-texto span{
    color: #f79147;
}

.color1{
    border-left: #a5551c 10px solid;
}

.color2{
    border-left: #d25f15 10px solid;
}

.color3{
    border-left: #ef7624 10px solid;
}

.color4{
    border-left: #f1a055 10px solid;
}

.color5{
    border-left: #f2bd7d 10px solid;
}

.color6{
    border-left: #f3d1a0 10px solid;
}

.color7{
    border-left: #ebb087 10px solid;
}

@media(max-width:991px){
    .nosotros-texto .left{
        padding: 0;
    }

    .nosotros-texto .right{
        padding: 0;
    }

    .nosotros-texto .nosotros-imagen{
        text-align: center;
    }
    .nosotros-texto .nosotros-imagen img{
        width: 100%;
    }
}