/* 
    Verde #327365
    Verde oscuro #125e4d

    Anaranjado #f79147
    Anaranjado oscuro #c86016
    
    Gris claro #f4f3f3
*/
#page-title{
    margin-bottom: 0 !important;
}

.title{
    margin-bottom: 0 !important;
}

.container{
    padding: 0;
}

#recetas-accordion{
    padding-left: 0;
}

.card{
    border: none;
}

.card-header{
    background: none;
    border: none;
    padding: 10px 10px 10px 30px;
    cursor: pointer;
}

.card-header h5{
    color: #f79147;
    font-size: 16px;
}

.card-body{
    padding: 10px 10px 10px 30px;
}

.descripcion-receta{
    padding: 20px 10px 20px 30px;
    min-height: 50vh;
    background: url('../../../img/bg_recetas.png');
    background-repeat: repeat;
}
