/* 
    Verde #327365
    Verde oscuro #125e4d

    Anaranjado #f79147 0414 1950601
    Anaranjado oscuro #c86016
    
    Gris claro #f4f3f3
*/
.slider-background{
    background: url('../../../img/slider-bg.png') repeat-x center center;
    background-size: 100% 100%;
    height: auto;
}

#slider-carousel{
    background: transparent url('../../../img/slider-shadow.png') no-repeat center bottom;
    background-size: contain;
    width: 70% !important;
    margin: 0 auto;
    padding: 35px 0 50px 0;
}

.carousel-indicators .active{
    background-color: #327365;
}

.carousel-control-prev, .carousel-control-prev:hover{
    opacity: 1;
    width: 38px;
    margin-left: -20px;
}

.carousel-control-next, .carousel-control-next:hover{
    opacity: 1;
    width: 38px;
    margin-right: -20px;
}

.carousel-control-prev-icon{
    height: 36px;
    width: 36px;
    background: url('../../../img/slider-arrows.png') 36px 0;
    display: none;
}

.carousel-control-next-icon{
    height: 36px;
    width: 36px;
    background: url('../../../img/slider-arrows.png') 0 0;
    display: none;
}

.carousel-control-prev-icon:hover{
    background: url('../../../img/slider-arrows.png') 36px 38px;
}

.carousel-control-next-icon:hover{
    background: url('../../../img/slider-arrows.png') 0 38px;
}

.noticias{
    background-color: #f4f3f3;
    margin: 40px 0 30px 0;
    padding: 15px 40px 15px 10px;
    height: 285px;
    border-left: #c86016 solid 20px;

    overflow: hidden;
}

.noticia-texto{
    height: 275px;
    
    overflow: hidden;
    text-align: left;

    font-size: 14px;
    line-height: 1.5em;

    padding-top: 5px;
    padding-left: 15px;
    color: #51565b;
    border-top: 3px dashed #125e4d;
}

.noticia-texto p{
    height: 230px;
    overflow: hidden;
}

.video-promo{
    margin: 40px 0 30px 0;
}

.video-promo > iframe{
    width: 100%;
}

.noticia-title {
    margin-top: 5px;
    margin-bottom: 0;
    text-transform: uppercase;
    display: block;
    color: #f79147;
    font-size: 15px;
    line-height: 1em;
}

.noticia-img{
    float: left;
    margin: 5px 10px;
    height: 115px;

    border: 1px solid #ccc;
}



