{% extends "base.html" %}
{% load static %}

{% block extra-css %}
    <link rel="stylesheet" type="text/css" href="{% static "css/nivo-slider/nivo-slider.css" %}" media="screen">
    <link rel="stylesheet" type="text/css" href="{% static "css/nivo-slider/themes/default/default.css" %}" media="screen">
    <link rel="stylesheet" type="text/css" href="{% static "css/cms/home/styles.css" %}" media="screen">
{% endblock extra-css %}

{% block content %}
    <!-- Slider -->
    <div id="slider-block">
        <div id="slider-holder">
            <div id="slider">
                {% for img in slider %}
                <a href="#">
                    <img src="{{ img.image.url }}" title="" alt="" />
                </a>
                {% endfor %}
            </div>
        </div>
    </div>
    <!-- ENDS Slider -->
    
    <section class="container">
        <div class="row">
            <div class="text-center col-6">
                <div class="noticias">
                    <div class="noticia-texto">
                        {% for noticia in noticias %}
                            <h4 class="noticia-title">
                                {{ noticia.titulo }}
                            </h4>
                            {% if noticia.image %}
                                <img class="img-fluid noticia-img" src="{{ noticia.image.url }}">
                            {% endif %}
                            {{ noticia.texto }}
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="text-center col-6">
                <div class="video-promo">
                    <iframe height="282" src="http://www.youtube.com/embed/pkDSUXbwJEA?showinfo=0&amp;loop=1" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}

{% block extra-js %}
    <script src='{% static "js/nivo-slider/jquery.nivo.slider.js" %}'></script>
    <script src='{% static "js/home.js" %}'></script>
{% endblock extra-js %}